@model RentCar.Models.Marca
<h3>
    Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Marca</legend>
    <div class="display-label">
        Nome</div>
    <div class="display-field">@Model.Nome</div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
