@model RentCar.Models.Carro
<h3>
    Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Carro</legend>
    @Html.DisplayForModel()
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
