<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>
<script>
    $('#btSalvar').click(function () {
        Grid.Salvar('#form');
    });
</script>
@model dynamic
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form" }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ModeloProduto</legend>
        @Html.EditorForModel()
        <p>
            <input id="btSalvar" type="button" value="Salvar" />
        </p>
    </fieldset>
}
